<%- include('header') %>
    
        
     <h1 id = "signup" >login</h1> 
    <div id = form>
    <form action="/login" method="POST"> 
        <input class = "username"type="text" name="username" placeholder="username"><br><br> 
        <input class = "password"type="password" name="password"  placeholder="password"> <br><br>
        <button>login</button> 
    </form>
    </div>
    

<%- include('footer') %>